

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&family=Roboto+Slab&family=Signika+Negative:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-image: url("./pexels-lukas-616401\ \(1\).jpg");
   
}
.meal-wrapper{
    max-width: 1280px;
    padding: 25px;
    text-align: center;
   
}
.search{
    padding-top: 2.5rem;
    margin: 2rem;
   

}
.search h1{
    font-weight: 700;
    color: #e61106;
    
    font-size: 4.5rem;
    letter-spacing: 3px;
   
}
.search h2{
    font-weight: 600;
    color: #0e3b07;
    font-size: 3rem;
    letter-spacing: 2px;
    

}
.search blockquote{
    font-weight: 400;
    font-size: 1.3rem;
    color: #0e3b07;
}
.search-box{
    display: flex;
    align-items: stretch;
    width: 100%;
}
.search-bar{
   
    padding: 0 1rem;
    margin-left: 9vw;
    font-size: 1.1rem;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
   
    background-color:#ffb1b1 ;
    width: 70%;
   
    
}
#search-btn{
    background-color: #fa5850;
    height: 50px;
    width: 55px;
    font-size: 1.7rem;
   
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius:2rem;
    cursor: pointer;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;


}
#search-btn:hover{
    background-color: #e61106;
   
}
.card-body{
    background-color: #dcd2b8;
}
.recipe-btn{
    background-color: #e61106;
    color: #f4f5e0;
    border: #ce3604;
    position: relative;
    left: 75px;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
   
    
}
.meal-result h2{
    margin-bottom: 25px;
    font-weight: 600;
    color: #e61106;
}
.meal-recipe{
    
    background-color: #fa5850;
    color: white;
    width: 40%;
    height: 80%;
    position: fixed;
    top: 40%;
    left: 20%;
 
   padding:25px ;

   border-radius: 1rem;
    overflow-y: scroll;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transform: translate(20%, -40%);
    -webkit-transform: translate(20%, -40%);
    -moz-transform:translate(20%, -40%);
    -ms-transform:translate(20%, -40%);
    -o-transform: translate(20%, -40%);
    display: none;
    

    
}
.meal-recipe::-webkit-scrollbar{

    display: none;
   
}

#close-button{
    display: flex;
    font-size: x-large;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
}


.video-link{
    color: white;
    font-size: larger;
    font-weight: 600;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
/*js related*/

.meal-recipe.show-recipe{
    display: block;
}

.meal-detail{
    margin: 2rem;

}
.meal-detail img{
    border-radius: 50%;
    
    height: 25%;
    width: 20%;
}
.NotFound{
   
    font-size: 2rem;
    font-weight: 600;
    color: #0e3b07;
  margin-left: 60vh;
    
   
}
@media screen and (max-width:360px ){
    body{
        width: 360;
        background-image: url("./small_bg.jpg");

    }
    .search h1{
        text-align: center;
        font-size: 2.8rem;
        margin-right: 30px;
    }
    .search h2{
        text-align: center;
        font-size: 1.7rem;
        margin-right: 15px;

    }
    .search{
       
        margin: 10px;
    }
    .search blockquote{
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 20px;
    }
    .meal-result h2{
        margin-bottom: 15px;}
    .meal-recipe{
        width: 80%;
        height: 70%;
        padding: 15px;
        transform: translate(-13%, -40%);
        -webkit-transform: translate(-13%, -40%);
        -moz-transform:translate(-13%, -40%);
        -ms-transform:translate(-13%, -40%);
        -o-transform: translate(-13%, -40%);
    }
    .search-bar{
        padding: 0 0.5rem;
        margin-left: 0vw;
        font-size: 1rem;
      
    }
    
    .NotFound{
   position: relative;
   top: 20px;
   left: -18rem;
    font-size: 1.2rem;
    font-weight: 600;

    }
}
